h1 {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 50px;
  color: #ec5051;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 40px;
  color: #ec5051;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 32px;
  color: #455599;
}

h4 {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  color: #ec5051;
}

p {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: black;
}

.dummy-box-one {
  background-color: beige;
}

.dummy-box-two {
  background-color: gainsboro;
}
@media (min-width: 767px) {
  .dummy-box-two {
    background-color: blue;
  }
}

.dummy-box-three {
  background-color: thistle;
}

.spacing {
  height: 100px;
}

.section-one {
  height: 600px;
  display: grid;
  grid-template-columns: 1.5fr 3.5fr 1fr 2.5fr 1.5fr;
  grid-template-rows: 100px 400px 100px;
  grid-template-areas: ". a . b ." ". c . b ." ". c . b .";
}

.section-one-a {
  grid-area: a;
}

.one-a-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0 10% 0 10%;
}

.one-a-list-item {
  display: inline-block;
  color: #455599;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
}

.section-one-b {
  grid-area: b;
}

.section-one-c {
  grid-area: c;
  justify-content: center;
  display: flex;
  align-items: center;
}

.one-c-btn {
  width: 134px;
  height: 40px;
}

.one-c-btn-left {
  background-color: #455599;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: white;
  margin-right: 24px;
}

.one-c-btn-right {
  border: 2px solid #455599;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: #455599;
}

.section-two {
  height: 750px;
  display: grid;
  background-image: url("bg_section_two.png");
  background-size: 100% 100%;
  grid-template-columns: 1.5fr 7fr 1.5fr;
  grid-template-rows: 250px 400px 100px;
  grid-template-areas: ". a ." ". b ." ". . .";
}

.section-two-a {
  grid-area: a;
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-two-b {
  grid-area: b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-b-holder {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.two-b-caption {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  color: #455599;
}

.section-three {
  height: 750px;
  display: grid;
  grid-template-columns: 1.5fr 7fr 1.5fr;
  grid-template-rows: 100px 250px 150px 250px;
  grid-template-areas: ". a ." ". b ." ". c ." ". d .";
}

.section-three-a {
  grid-area: a;
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-three-b {
  grid-area: b;
  display: flex;
  flex-direction: row-reverse;
}

.three-b-box {
  box-sizing: border-box;
  width: 370px;
  word-wrap: break-word;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0 0 30px rgba(69, 85, 153, 0.15);
  border-radius: 8px;
}

.three-b-title {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.three-b-subtitle {
  padding: 0;
  margin: 0 0 20px;
}

.three-b-content {
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.section-three-c {
  grid-area: c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-c-timeline {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  height: 1px;
  width: 60%;
  background-color: #ddd;
  border: 1px solid #ddd;
}

.three-c-thumb {
  z-index: 200;
  margin-left: 100px;
  margin-right: 100px;
}

.section-three-d {
  grid-area: d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.three-d-holder {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-four {
  height: 650px;
  display: grid;
  background-image: url("bg_section_four.png");
  background-size: 100% 100%;
  grid-template-columns: 1.5fr 7fr 1.5fr;
  grid-template-rows: 250px 150px 150px 100px;
  grid-template-areas: ". a ." ". b ." ". c ." ". d .";
}

.section-four-a {
  grid-area: a;
  justify-content: center;
  display: flex;
  align-items: center;
}

.four-a-text {
  color: white;
  text-align: center;
}

.section-four-b {
  grid-area: b;
  justify-content: center;
  display: flex;
  align-items: center;
}

.four-b-text {
  color: white;
  text-align: center;
}

.section-four-c {
  grid-area: c;
  justify-content: center;
  display: flex;
  align-items: center;
}

.four-c-btn {
  width: 190px;
  height: 40px;
  background-color: white;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: #455599;
}

.section-four-d {
  grid-area: d;
  justify-content: center;
  display: flex;
  align-items: center;
}

.four-d-holder {
  width: 100px;
  align-self: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.section-five {
  height: 450px;
  display: grid;
  grid-template-columns: 2.5fr 5fr 2.5fr;
  grid-template-rows: 100px 350px;
  grid-template-areas: ". a ." ". b .";
}

.section-five-a {
  grid-area: a;
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-five-b {
  grid-area: b;
  justify-content: center;
  display: flex;
  align-items: center;
}

.five-b-box {
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  padding: 30px 10px 30px 10px;
  background: #ffffff;
  box-shadow: 0 0 30px rgba(69, 85, 153, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five-b-row {
  display: flex;
  justify-content: space-between;
}

.five-b-holder {
  justify-content: center;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  margin: 0 40px 0 40px;
}

.five-b-holder-one {
  width: auto;
}

.five-b-label {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 11px;
  letter-spacing: 0.1em;
  color: rgba(51, 51, 51, 0.6);
}

.five-b-input {
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.1em;
  width: 100%;
  resize: none;
}

.five-b-btn-holder {
  justify-content: center;
  display: flex;
  align-items: center;
}

.five-b-btn {
  width: 134px;
  height: 40px;
  background-color: #455599;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: white;
  margin-right: 24px;
}

.section-six {
  height: 150px;
  display: grid;
  background-color: #f9fafc;
  grid-template-columns: 4.5fr 1fr 4.5fr;
  grid-template-rows: 60px 90px;
  grid-template-areas: ". a ." ". b .";
}

.section-six-a {
  grid-area: a;
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-six-b {
  grid-area: b;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: row;
}

/*# sourceMappingURL=style.css.map */
