$primary-color: #455599;
$section-header-color: #ec5051;
$primary-font: Roboto Mono;

.top-bar-list-item {
  display: inline-block;
  color: $primary-color;
  font-family: $primary-font;
  font-size: 18px;
}

.top-bar-list {
  list-style-type: none;
}

.top-bar {
}

.dummy-box-one {
  background-color: beige;
}

.dummy-box-two {
  background-color: gainsboro;
}

.dummy-box-three {
  background-color: thistle;
}

.section-top {
  width: 600px;
  height: 600px;
}
