h1 {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 50px;
  color: #ec5051;
  text-align: center;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 40px;
  color: #ec5051;
  text-align: center;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 32px;
  color: #455599;
  text-align: center;
}

h4 {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  color: #ec5051;
  text-align: center;
}

p {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: black;
}

.dummy-box-one {
  background-color: beige;
}
@media (max-width: 2560px) and (min-width: 769px) {
  .dummy-box-one {
    background-color: red;
  }
}
@media (max-width: 1024px) and (min-width: 645px) {
  .dummy-box-one {
    background-color: blue;
  }
}
@media (max-width: 644px) and (min-width: 320px) {
  .dummy-box-one {
    background-color: green;
  }
}

.dummy-box-two {
  background-color: gainsboro;
}

.dummy-box-three {
  background-color: thistle;
}

.spacing {
  display: block;
  height: 100px;
  width: 100%;
}

.section-one {
  height: 550px;
  display: grid;
  grid-template-columns: 1.5fr 3.5fr 1fr 2.5fr 1.5fr;
  grid-template-rows: 50px 400px 100px;
  grid-template-areas: ". a . b ." ". c . b ." ". c . b .";
}
@media (max-width: 1024px) and (min-width: 645px) {
  .section-one {
    grid-template-columns: 3.5fr 2.5fr;
    grid-template-areas: "a b" "c b" "c b";
  }
}
@media (max-width: 644px) and (min-width: 320px) {
  .section-one {
    height: 1100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 550px 550px;
    grid-template-areas: "b" "c";
  }
}

.section-one-a {
  grid-area: a;
}
@media (max-width: 644px) and (min-width: 320px) {
  .section-one-a {
    display: none;
  }
}

.one-a-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.one-a-list-item {
  color: #455599;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
}

.section-one-b {
  grid-area: b;
}
.section-one-b figure {
  margin: 0;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url("img_self.png");
  width: 100%;
  height: 550px;
}

.section-one-c {
  grid-area: c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-c-container {
  padding: 10px;
}

.one-c-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 644px) and (min-width: 320px) {
  .one-c-btn-container {
    flex-direction: column;
  }
}
@media (max-width: 1024px) and (min-width: 645px) {
  .one-c-btn-container {
    flex-direction: column;
  }
}

.one-c-btn {
  width: 134px;
  height: 40px;
  margin: 5px;
}

.one-c-btn-left {
  background-color: #455599;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: white;
}

.one-c-btn-right {
  border: 2px solid #455599;
  background-color: white;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: #455599;
}

.section-two {
  height: 750px;
  display: grid;
  background-image: url("bg_section_two.png");
  background-size: 100% 100%;
  grid-template-columns: 1.5fr 7fr 1.5fr;
  grid-template-rows: 250px 400px 100px;
  grid-template-areas: ". a ." ". b ." ". . .";
}
@media (max-width: 1024px) and (min-width: 645px) {
  .section-two {
    height: 1450px;
    grid-template-rows: 250px 1100px 100px;
  }
}
@media (max-width: 644px) and (min-width: 320px) {
  .section-two {
    height: 1450px;
    grid-template-rows: 250px 1100px 100px;
  }
}

.section-two-a {
  grid-area: a;
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-two-b {
  grid-area: b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1024px) and (min-width: 645px) {
  .section-two-b {
    flex-direction: column;
  }
}
@media (max-width: 644px) and (min-width: 320px) {
  .section-two-b {
    flex-direction: column;
  }
}

.two-b-holder {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.two-b-caption {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  color: #455599;
}

.section-three {
  height: 750px;
  display: grid;
  grid-template-columns: 1.5fr 7fr 1.5fr;
  grid-template-rows: 100px 250px 150px 250px;
  grid-template-areas: ". a ." ". b ." ". c ." ". d .";
}

.section-three-a {
  grid-area: a;
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-three-b {
  grid-area: b;
  display: flex;
  flex-direction: row-reverse;
}

.three-b-box {
  box-sizing: border-box;
  width: 370px;
  word-wrap: break-word;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0 0 30px rgba(69, 85, 153, 0.15);
  border-radius: 8px;
}

.three-b-title {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.three-b-subtitle {
  padding: 0;
  margin: 0 0 20px;
}

.three-b-content {
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.section-three-c {
  grid-area: c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-c-timeline {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  height: 1px;
  width: 60%;
  background-color: #ddd;
  border: 1px solid #ddd;
}

.three-c-thumb {
  z-index: 200;
  margin-left: 100px;
  margin-right: 100px;
}

.section-three-d {
  grid-area: d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.three-d-holder {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1024px) and (min-width: 645px) {
  .three-d-holder-img {
    display: none;
  }
}
@media (max-width: 644px) and (min-width: 320px) {
  .three-d-holder-img {
    display: none;
  }
}

.section-four {
  height: 650px;
  display: grid;
  background-image: url("bg_section_four.png");
  background-size: 100% 100%;
  grid-template-columns: 1.5fr 7fr 1.5fr;
  grid-template-rows: 250px 150px 150px 100px;
  grid-template-areas: ". a ." ". b ." ". c ." ". d .";
}

.section-four-a {
  grid-area: a;
  justify-content: center;
  display: flex;
  align-items: center;
}

.four-a-text {
  color: white;
  text-align: center;
}

.section-four-b {
  grid-area: b;
  justify-content: center;
  display: flex;
  align-items: center;
}

.four-b-text {
  color: white;
  text-align: center;
}

.section-four-c {
  grid-area: c;
  justify-content: center;
  display: flex;
  align-items: center;
}

.four-c-btn {
  width: 190px;
  height: 40px;
  background-color: white;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: #455599;
}

.section-four-d {
  grid-area: d;
  justify-content: center;
  display: flex;
  align-items: center;
}

.four-d-holder {
  width: 100px;
  align-self: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.section-five {
  height: 450px;
  display: grid;
  grid-template-columns: 2.5fr 5fr 2.5fr;
  grid-template-rows: 100px 350px;
  grid-template-areas: ". a ." ". b .";
}

.section-five-a {
  grid-area: a;
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-five-b {
  grid-area: b;
  justify-content: center;
  display: flex;
  align-items: center;
}

.five-b-box {
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  padding: 30px 10px 30px 10px;
  background: #ffffff;
  box-shadow: 0 0 30px rgba(69, 85, 153, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five-b-row {
  display: flex;
  justify-content: space-between;
}

.five-b-holder {
  justify-content: center;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  margin: 0 40px 0 40px;
}

.five-b-holder-one {
  width: auto;
}

.five-b-label {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 11px;
  letter-spacing: 0.1em;
  color: rgba(51, 51, 51, 0.6);
}

.five-b-input {
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.1em;
  width: 100%;
  resize: none;
}

.five-b-btn-holder {
  justify-content: center;
  display: flex;
  align-items: center;
}

.five-b-btn {
  width: 134px;
  height: 40px;
  background-color: #455599;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: white;
  margin-right: 24px;
}

.section-six {
  height: 150px;
  display: grid;
  background-color: #f9fafc;
  grid-template-columns: 4.5fr 1fr 4.5fr;
  grid-template-rows: 60px 90px;
  grid-template-areas: ". a ." ". b .";
}

.section-six-a {
  grid-area: a;
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-six-b {
  grid-area: b;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: row;
}

/*# sourceMappingURL=style.css.map */
