$primary-color: #455599;
$primary-font: Roboto Mono;

.top-bar-list-item {
  display: inline-block;
  color: $primary-color;
  font-family: $primary-font;
  font-size: 18px;
}

.top-bar-list {
  list-style-type: none;
}

.top-bar {
}
