$primary-color: #455599;
$section-header-color: #ec5051;
$primary-font: "Roboto Mono", monospace;

.top-bar-list-item {
  display: inline-block;
  color: $primary-color;
  font-family: $primary-font;
  font-size: 18px;
}

.top-bar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0 10% 0 10%;
}

.dummy-box-one {
  background-color: beige;
}

.dummy-box-two {
  background-color: gainsboro;
}

.dummy-box-three {
  background-color: thistle;
}

.section-one {
  height: 600px;
  display: grid;

  grid-template-columns: 1.5fr 3.5fr 1fr 2.5fr 1.5fr;
  grid-template-rows: 100px 400px 100px;

  grid-template-areas:
    ". a . b ."
    ". c . b ."
    ". c . b .";
}

.section-one-a {
  grid-area: a;
}

.section-one-b {
  grid-area: b;
}

.section-one-c {
  grid-area: c;
  justify-content: center;
  display: flex;
  align-items: center;
}

.btn-top {
  width: 134px;
  height: 40px;
}

.btn-left {
  background-color: $primary-color;
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: white;
  margin-right: 24px;
}

.btn-right {
  border: 2px solid $primary-color;
  box-sizing: border-box;
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: $primary-color;
}

h3 {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 32px;

  color: $primary-color;
}

h1 {
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 50px;
  color: #ec5051;
}

h2 {
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 40px;
  color: #ec5051;
}

.section-two {
  height: 750px;
  display: grid;
  background-image: url("bg_section_two.png");
  background-size: 100% 100%;

  margin-top: 100px;

  grid-template-columns: 1.5fr 7fr 1.5fr;
  grid-template-rows: 250px 500px;

  grid-template-areas:
    ". a ."
    ". b .";
}

.section-two-a {
  grid-area: a;
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-two-b {
  grid-area: b;
  justify-content: center;
  display: flex;
  align-items: center;
}
